/* declaration de variables */
:root {
    --main-bg-color: black;
    --color: rgb(64, 232, 22, 75%);
}

/* mise a zero de la position de l'ensemble de la page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--main-bg-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* mode light  */
body.light{
    --main-bg-color: white;
    --color: rgb(22, 56, 232, 60%);
    background-color: var(--main-bg-color);
    color: var(--color);
}

/* accueil + titre */
#accueil{
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#accueil:hover{
    cursor: pointer;
}
.carre_vert{
    width: 1em;
    height: 1em;
    background-color: var(--color);
    align-self: flex-end;
    margin-right: 2em;
}
h1{
    line-height: 5rem;
}
/* ligne verte en dessous du titre */
h1::after{
    margin-top: 20px;
    content: '';
    display: block;
    width: 75%;
    height: 5px;
    background-color: var(--color);
}
/* Header avec nav */
#btn_mode{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    transform: scale(1.5);
    background-color: var(--main-bg-color);
    color: var(--color);
    cursor: pointer;
}
header{
    background-color: var(--main-bg-color);
    width: 90%;
    height: 5em;
    position: sticky;
    top: 0;
}
/* ligne verte en dessous du header */
header::after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--color);
}
nav ul li a {
    /* changement de couleur des nav et annulation de soulignement */
    color: var(--color);
    text-decoration: none;
}
nav, ul{
    height: 100%;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li{
    /* Disparition des puce de la liste */
    list-style: none;
    
}
.deco:hover{
    cursor: default;
}

li a:hover{
    text-shadow: 0px 0px 8px var(--color);
}
/* Page du profil/a propos */
#a_propos{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
#p_profil{
    width: 80%;
    text-align: justify;
}
img{
    /* redimension des images */
    width: 150px;
    height: 150px;

}
/* page mes projet  */
h2{
    margin-top: 25px;
}

#projets{
    width: 90%;
}
.projet {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: linear 0.2s;
}
/* page de contact */
#formulaire{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 525px){
    #projets{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .projet{
        width: 33%;
        margin-bottom: 3em;
    }
}